<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Datos</ion-title>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/menu" name="arrow-back"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="DatosForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Metabolic Age</ion-label>
      <ion-input formControlName="metabolic_age" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Average of Fat</ion-label>
      <ion-input formControlName="average_of_fat" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Average of Hydration</ion-label>
      <ion-input formControlName="average_of_Hydration" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Muscle Weight</ion-label>
      <ion-input formControlName="muscle_weight" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Muscle Mass Level</ion-label>
      <ion-input formControlName="muscle_mass_level" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bone Weight</ion-label>
      <ion-input formControlName="bone_weight" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Kilocalories</ion-label>
      <ion-input formControlName="kilocalories" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Weight</ion-label>
      <ion-input formControlName="weight" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Height</ion-label>
      <ion-input formControlName="height" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>BMI</ion-label>
      <ion-input formControlName="BMI" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Abdominal Perimeter</ion-label>
      <ion-input formControlName="abdominal_perimeter" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Physical Activity Level</ion-label>
      <ion-select formControlName="physical_activity_level" placeholder="Select One">
        <ion-select-option value="0">0 Días por semana</ion-select-option>
        <ion-select-option value="1">1 Días por semana(60min)</ion-select-option>
        <ion-select-option value="2">2 Días por semana(60min*2)</ion-select-option>
        <ion-select-option value="3">3 Días por semana(60min*3)</ion-select-option>
        <ion-select-option value="4">4 Días por semana(60min*4)</ion-select-option>
        <ion-select-option value="5">5 Días por semana(60min*5)</ion-select-option>
        <ion-select-option value="6">6 Días por semana(60min*6)</ion-select-option>
        <ion-select-option value="7">7 Días por semana(60min*7)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Year</ion-label>
      <ion-input formControlName="year" type="number" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sex</ion-label>
        <ion-select formControlName="sex" placeholder="Select One">
          <ion-select-option  value="F">Femenino</ion-select-option>
          <ion-select-option  value="M">Masculino</ion-select-option>
          <ion-select-option  value="other">Otro</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Registration Date</ion-label>
      <ion-input formControlName="registration_date" type="date" required>
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" shape="full" expand="block">Añadir Datos</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
