<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      Health
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Health</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <img src="./assets/img/rincon.png">
  </div>

  <div id="container">
    <ion-button expand="block" size="large" href="/login" color="primary">Enter</ion-button>
  </div>
</ion-content> 

