<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="donwColor">
      <ion-tab-button tab="menu">
        <ion-icon name="menu"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="datos">
        <ion-icon name="document-text"></ion-icon>
        <ion-label>Datos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
