  
#container1{
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
    transform: translateY(-50%);
  }
  
ion-button{
    --background: #073f65;
    --color: #ffffff;
}

ion-content.background{
  --background: url(../../assets/img/playa_canteras2.jpg) 0 0/150% 100% no-repeat;
}

.topColor{
  --background: #FFCC00;
  --color: #000000;
}

.my-custom-class {
  background: rgb(255, 255, 255);
}
