<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="config()">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container1">
    <ion-button expand="block" size="large" (click)="openSchoolModal()" color="primary">Añadir Datos</ion-button>
  </div>

  <div id="container2">
    <ion-button expand="block" size="large" href="/datos" color="primary">Editar Datos</ion-button>
  </div>
    
  <div id="container3">
    <ion-button expand="block" size="large" href="/map" color="primary">Ver Mapa</ion-button>
  </div>
</ion-content>
