<ion-header>
  <ion-toolbar>
    <ion-title>Datos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/map" name="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let s of student">
    <ion-card-header>
      <ion-card-title>Datos: </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    vesicular_mass: {{s.vesicular_mass}};<br/>
    fat_mass: {{s.fat_mass}};<br/>
    year: {{s.year}};<br/>
    sex: {{s.sex}};
    </ion-card-content>
    <ion-item>
      <ion-icon (click)="updateStudent(s.id)" name="git-compare" slot="end" color="secondary"></ion-icon>
      <ion-icon (click)="deleteStudent(s.id)" name="trash" slot="end" color="danger"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
