<ion-header>
  <ion-toolbar>
    <ion-title>Datos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/map" name="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="getInform()">
        <ion-icon slot="icon-only" name="print-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let s of student">
    <ion-card-header>
      <ion-card-title>Datos: </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    metabolic_age: {{s.metabolic_age}}<br/>
    average_of_fat: {{s.average_of_fat}}<br/>
    average_of_Hydration: {{s.average_of_Hydration}}<br/>
    muscle_weight: {{s.muscle_weight}}<br/>
    muscle_mass_level: {{s.muscle_mass_level}};<br/>
    bone_weight: {{s.bone_weight}}<br/>
    kilocalories: {{s.kilocalories}}<br/>
    weight: {{s.weight}};<br/>
    height: {{s.height}}<br/>
    BMI: {{s.BMI}}<br/>
    abdominal_perimeter: {{s.abdominal_perimeter}};<br/>
    physical_activity_level: {{s.physical_activity_level}}<br/>
    year: {{s.year}};<br/>
    sex: {{s.sex}};
    </ion-card-content>
    <ion-item>
      <ion-icon (click)="updateStudent(s.studentId)" name="git-compare" slot="end" color="secondary"></ion-icon>
      <ion-icon (click)="deleteStudent(s.studentId)" name="trash" slot="end" color="danger"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
