<ion-header>
  <ion-toolbar>
    <ion-title>Course List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="CourseForm" (ngSubmit)="onFormSubmit()">
    <ion-card-content>
      <ion-label>Course</ion-label>
      <ion-select formControlName="courses" placeholder="Select One" >
        <ion-select-option *ngFor="let c of courses" value="c.name">{{c.name}}</ion-select-option>
      </ion-select>
    </ion-card-content>

    <!-- <ion-list>
      <ion-radio-group *ngFor="let s of schools">
        <ion-list-header>
          <ion-label>Schools</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>{{s.name}}</ion-label>
          <ion-radio slot="start" value="s.id"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list> -->

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" shape="full" expand="block">Siguiente</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
